/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none; }

body {
  line-height: 1; }

menu, ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "SF UI Text";
  src: url(../../fonts/SanFrancisco/sfregular/SFUIText-Regular.woff) format("woff"), url(../../fonts/SanFrancisco/sfregular/SFUIText-Regular.woff2) format("woff2"), url(../../fonts/SanFrancisco/sfregular/SFUIText-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: "normal"; }
@font-face {
  font-family: "SF UI Text";
  src: url(../../fonts/SanFrancisco/sfbold/SFUIText-Bold.woff) format("woff"), url(../../fonts/SanFrancisco/sfbold/SFUIText-Bold.woff2) format("woff2"), url(../../fonts/SanFrancisco/sfbold/SFUIText-Bold.ttf) format("truetype");
  font-weight: 600;
  font-style: "normal"; }
@font-face {
  font-family: "SF UI Text";
  src: url(../../fonts/SanFrancisco/sfmedium/SFUIText-Medium.woff) format("woff"), url(../../fonts/SanFrancisco/sfmedium/SFUIText-Medium.woff2) format("woff2"), url(../../fonts/SanFrancisco/sfmedium/SFUIText-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: "normal"; }
html {
  font-family: Arial, serif;
  font-size: 16px;
  height: 100%; }

body {
  height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

*,
*::before,
*::after {
  box-sizing: border-box; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: inherit;
  color: #444444; }

ol, ul {
  list-style: none; }

img {
  max-width: 100%;
  display: block; }

input,
button,
textarea,
select {
  font: inherit; }

audio,
canvas,
iframe,
img,
svg,
video,
textarea {
  vertical-align: middle; }

textarea {
  resize: none; }

section {
  position: relative; }

input,
select,
button {
  outline: none; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%; }

.content {
  flex: 1 0 auto; }

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1000px;
  width: 100%; }

.btn {
  position: relative;
  box-sizing: border-box;
  color: inherit;
  display: block;
  font-weight: inherit;
  text-decoration: none;
  line-height: inherit;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
  padding: 0;
  margin: 0;
  border: none;
  font-size: 14px; }

.btn-action {
  color: #fff;
  padding: 10px 20px;
  height: 40px;
  background-color: #ff9000;
  border: 1px solid #fd7722;
  font-weight: 700; }

footer {
  flex: 0 0 auto; }

header {
  flex: 0 0 auto; }

.flex-row {
  flex-flow: row nowrap !important; }

.space-between {
  justify-content: space-between; }

.title {
  font-size: 20px;
  color: #444444;
  line-height: 1.25;
  text-align: center;
  font-weight: 500; }
  @media screen and (min-width: 768px) {
    .title {
      font-size: 24px; } }

.svg-sprite-icon {
  width: 100%;
  height: 100%; }

.form-control {
  background: #fff;
  border: 1px solid #ccc;
  box-sizing: border-box;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  width: 100%;
  padding: 5px 10px;
  font-size: 14px; }
  @media screen and (min-width: 768px) {
    .form-control {
      max-width: 160px; } }

.paypal-pay {
  background: #f7f7f7;
  border: 1px solid #ddd;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 12px 16px; }
  @media screen and (min-width: 768px) {
    .paypal-pay {
      width: 340px;
      margin-left: auto; } }
  @media screen and (min-width: 1024px) {
    .paypal-pay {
      padding-top: 45px;
      padding-bottom: 95px; } }
  .paypal-pay .paypal-pay__container {
    display: flex;
    align-items: center;
    justify-content: center; }
    @media screen and (min-width: 1024px) {
      .paypal-pay .paypal-pay__container {
        flex-flow: column; } }
  .paypal-pay .paypal__text {
    margin-right: 30px;
    font-size: 14px; }
    @media screen and (min-width: 1024px) {
      .paypal-pay .paypal__text {
        font-size: 18px;
        margin: 0; } }
  .paypal-pay .paypal-pay__button {
    background-image: url("../img/bitmap.jpg");
    width: 100px;
    height: 38px;
    background-size: cover;
    background-repeat: no-repeat;
    border: none; }
    @media screen and (min-width: 1024px) {
      .paypal-pay .paypal-pay__button {
        width: 137px;
        height: 52px;
        margin-top: 30px; } }

.tooltip-button {
  width: 12px;
  height: 12px;
  padding: 5px;
  display: flex; }
  .tooltip-button:hover {
    cursor: pointer; }

.tooltip-helper {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #dadada;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.21);
  border-radius: 3px;
  z-index: 2;
  right: -12px;
  bottom: 27px; }
  .tooltip-helper.show {
    display: block; }
  .tooltip-helper:after {
    content: '';
    width: 15px;
    height: 15px;
    border: 1px solid #dadada;
    background-color: #fff;
    border-left-color: transparent;
    border-top-color: transparent;
    position: absolute;
    right: 10px;
    bottom: -8px;
    transform: rotate(45deg); }
  .tooltip-helper .tooltip-helper__container {
    display: flex;
    padding: 20px; }
  .tooltip-helper .card-item__icon {
    width: 108px;
    height: 67px; }
  .tooltip-helper .card-item__title {
    font-size: 12px;
    padding-top: 15px;
    font-weight: bold; }
  .tooltip-helper .card-item__text {
    font-size: 12px; }
  .tooltip-helper .tooltip-helper-separator {
    width: 1px;
    background-color: #dadada;
    margin: 0 15px; }

.payment-form-wrap .payment-form-wrap__title {
  margin-top: 30px; }
.payment-form-wrap .pay-card-group {
  margin-top: 20px; }
  @media screen and (min-width: 768px) {
    .payment-form-wrap .pay-card-group {
      display: none; } }
.payment-form-wrap .payment-form-wrap__form {
  margin-top: 20px; }
  @media screen and (min-width: 768px) {
    .payment-form-wrap .payment-form-wrap__form {
      justify-content: center;
      width: 468px;
      margin: 0 auto; } }
  @media screen and (min-width: 1024px) {
    .payment-form-wrap .payment-form-wrap__form {
      width: 840px;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start; } }

.pay-card-group {
  display: flex;
  justify-content: center;
  width: 100%; }
  .pay-card-group .pay-card-group__item {
    width: 40px;
    height: 30px;
    margin-right: 20px; }
    .pay-card-group .pay-card-group__item:last-child {
      margin-right: 0; }
    @media screen and (min-width: 768px) {
      .pay-card-group .pay-card-group__item {
        margin-right: 5px; } }

.payment-form .pay-card-group {
  display: none;
  margin-top: 0; }
@media screen and (min-width: 768px) {
  .payment-form .pay-card-group {
    display: flex; } }
.payment-form .payment-form__item-title {
  font-size: 14px;
  line-height: 1;
  font-weight: 600; }
.payment-form .payment-form__inputs-wrap {
  height: 100%; }
  @media screen and (min-width: 1024px) {
    .payment-form .payment-form__inputs-wrap {
      width: 468px; } }
.payment-form .payment-form__item {
  display: flex;
  flex-flow: column;
  margin-top: 20px;
  position: relative; }
  @media screen and (min-width: 768px) {
    .payment-form .payment-form__item {
      flex-flow: row; } }
.payment-form .payment-form__dbl-item {
  display: flex;
  justify-content: space-between; }
.payment-form .input-card-data {
  width: 57%; }
  @media screen and (min-width: 768px) {
    .payment-form .input-card-data {
      width: 61%; } }
.payment-form .input-card-cvv {
  width: 35%; }
  @media screen and (min-width: 768px) {
    .payment-form .input-card-cvv {
      justify-content: space-between; }
      .payment-form .input-card-cvv .payment-form__item-inp {
        min-width: inherit; }
      .payment-form .input-card-cvv .payment-form__inp-wrap {
        width: 85px; } }
.payment-form .payment-form__inp-wrap {
  display: flex;
  align-items: center;
  width: 100%; }
@media screen and (min-width: 768px) {
  .payment-form .payment-form__item-inp {
    display: flex;
    align-items: center;
    min-width: 128px; } }
.payment-form .fn-inp,
.payment-form .ls-inp {
  width: 48%; }
.payment-form .payment-form__paypal {
  margin-top: 20px; }
.payment-form .payment-form__sbmt-btn {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px; }
  @media screen and (min-width: 768px) {
    .payment-form .payment-form__sbmt-btn {
      width: 340px;
      margin-left: auto; } }
  @media screen and (min-width: 1024px) {
    .payment-form .payment-form__sbmt-btn {
      margin-left: 128px;
      margin-bottom: 0;
      margin-top: -40px; } }
.payment-form .payment-form__separator {
  margin: 0 8px; }
.payment-form .payment-form__tooltip {
  position: absolute;
  right: 5px;
  box-sizing: content-box; }

@media screen and (min-width: 768px) {
  .inp-cvv {
    display: flex;
    justify-content: center;
    align-items: center; } }

.input-names .payment-form__inp-wrap {
  justify-content: space-between; }
.input-names .form-control {
  width: 48%; }
  @media screen and (min-width: 768px) {
    .input-names .form-control {
      width: 100%; } }

.input-card .payment-form__inp-wrap {
  justify-content: space-between; }
.input-card .pay-card-group {
  width: 160px; }

@media screen and (min-width: 320px) {
  .input-card-name .pay-card-group {
    display: none; } }
@media screen and (min-width: 768px) {
  .input-card-name .pay-card-group {
    display: flex; } }

/*# sourceMappingURL=main.css.map */
