
.payment-form-wrap {
  padding: 30px 0;

  @include tablet {
    padding: 40px 0;
  }
  .pay-card-group {
    margin-top: 20px;
    @include tablet {
      display: none;
    }
  }
  .payment-form-wrap__form {
    margin-top: 20px;

    @include tablet {
      justify-content: center;
      width: 468px;
      margin: 0 auto;
    }
    @include laptop {
      width: 840px;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
    }
  }
}


.pay-card-group {
  display: flex;
  justify-content: center;
  width: 100%;
  .pay-card-group__item {
    width: 40px;
    height: 30px;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }

    @include tablet {
      margin-right: 5px;
    }
  }
}

.payment-form {
    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      &::-ms-expand{
        display: none;
      }
    }

  .pay-card-group {
    display: none;
    margin-top: 0;
  }

  @include tablet {
    .pay-card-group {
      display: flex;
    }
  }

  .payment-form__item-title {
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
  }
  .payment-form__inputs-wrap {
    height: 100%;
    @include laptop {
      width: 468px;
    }
  }
  .payment-form__item {
    display: flex;
    flex-flow: column;
    margin-top: 20px;
    position: relative;

    @include tablet {
      flex-flow: row;
    }
  }
  .payment-form__dbl-item {
    display: flex;
    justify-content: space-between;
  }
  .input-card-data {
    width: 57%;

    @include tablet {
      width: 61%;
    }
    .icon-select-arrow {
      width: 10px;
      height: 7px;
      position: absolute;
      right: 6px;
      top: 12px;
      display: flex;
    }
  }
  .input-card-cvv {
    width: 35%;


    @include tablet {
      justify-content: space-between;

      .payment-form__item-inp {
        min-width: inherit;
      }
      .payment-form__inp-wrap {
        width: 85px;
      }
    }

  }
  .payment-form__inp-wrap {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .payment-form__item-inp {

    @include tablet {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 10px;
      white-space: nowrap;
      min-width: 128px;
    }
  }
  .fn-inp,
  .ls-inp {
    width: 48%;
  }
  .payment-form__paypal {
    margin-top: 20px;


  }
  .payment-form__sbmt-btn {
    width: 100%;
    margin-top: 20px;

    @include tablet {
      width: 340px;
      margin-left: auto;
    }
    @include laptop {
      margin-left: 128px;
      margin-bottom: 0;
    }
  }
  .payment-form__separator {
    margin: 0 8px;
  }

  .payment-form__tooltip {
    position: absolute;
    right: 5px;
    bottom: 5px;
    box-sizing: content-box;
  }
  .parsley-error {
    border: 1px solid $error-color-dark;
  }
}
.inp-cvv {

  @include tablet {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.input-names {
  .payment-form__inp-wrap {
    justify-content: space-between;
  }
  .inp-message-wrap {
    width: 48%;

    @include tablet {
      width: 100%;
    }
  }
}
.input-card {
  .payment-form__inp-wrap {
    justify-content: space-between;
  }
  .pay-card-group {
    width: 160px;
  }
}
