
block pay-card-group
    div(class='pay-card-group')
        .pay-card-group__item
            include ../../../static/img/svg/visadark.svg

        .pay-card-group__item
            include ../../../static/img/svg/mastercardd.svg

        .pay-card-group__item
            include ../../../static/img/svg/discovd.svg

        .pay-card-group__item
            include ../../../static/img/svg/amerexd.svg
