
block pay-card-group
    div(class='pay-card-group')
        .pay-card-group__item
            +icon('visadark')
        .pay-card-group__item
            +icon('mastercardd')
        .pay-card-group__item
            +icon('discovd')
        .pay-card-group__item
            +icon('amerexd')