
block paypal-item
    div(class='paypal-pay payment-form__paypal')
        .paypal-pay__container
            .paypal__text
                p Or pay with Paypal
            button(class='btn paypal-pay__button' type='button')