
block input-names
    div(class='payment-form__item input-names')
        .payment-form__item-inp
            label(class='payment-form__item-title') Cardholder Name
        div(class="payment-form__inp-wrap")
            input(type='text' class='form-control' name='first-name' required placeholder='First Name')
            input(type='text' class ='form-control' name='last-name' placeholder='Last Name')