// Colors
$white: #fff;
$black: #000;
$font-color: #444444;
$placeholder-color: #888888;
$error-color-dark: #ef5350;
$error-color: #ffebee;
$button-color: #9000;
$action-button: #ff9000;


$content: 1000px;




